@charset "utf-8";
/* CSS Document */

body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre, form, fieldset, lengend, button, input, textarea, th, td,table {  margin: 0px; padding: 0;border: 0;outline: 0;	font-size: 100%;vertical-align: baseline;-webkit-text-size-adjust:none;color:#6e6e6e;}
h1, h2, h3{font-family:microsoft yahei,Arial,Helvetica,sans-serif;;}
p{font-family:'Arial';}
body,button, input, select, textarea,li,p,span { font: 12px/1 Arial,Helvetica,sans-serif; line-height:125%;}
h1 { font-size: 18px;  }
h2 { font-size: 16px; }
h3 { font-size: 14px; }
h4, h5, h6 { font-size: 100%; }
p, h4, h5, h6{line-height:1.6em;}
address, cite, dfn, em, var, i { font-style: normal; -webkit-text-size-adjust:none} 
code, kbd, pre, samp, tt { font-family: "Courier New", Courier, monospace; } 
small { font-size: 12px; } 
ul, ol { list-style: none; }
a { text-decoration: none; cursor:pointer;color: #3377AA;}
a:hover { text-decoration: none; color:#fb7a33;}
abbr[title], acronym[title] { 	border-bottom: 1px dotted;	cursor: help;}
q:before, q:after { content: ''; }
legend { color: #000; } 
fieldset, img { border: none; } 
button, input, select, textarea {    font-size: 100%; }
table {	border-collapse: collapse;	border-spacing: 0;}
hr {    border: none;    height: 1px;}
.clear{clear:both;}
.clear:after {content:".";height:0px;line-height:0px;visibility:hidden;clear:both;}
.clearfix:after {display:block;	clear:both;	visibility:hidden;}
.clearfix {display:inline-block;}


/*-----------------------------------------------------------------------------------*/
body{background:#3377AA;}
.login{ position:absolute;top:30%;left:50%}
.login input{ width:300px; height:40px; border:#CCC solid 1px; margin:20px; font-size:14px;  }
.login .code{ width:145px}
.login img{ margin:0px}
.login .code_diy{ position:relative;top:-63px; left:190px}
.login .submit{ background:#144567; border:#144567 solid 1px; color:#FFF}
.msg{ font-size:197px; color:#FFF;position:absolute;top:50%;}

